.custom-marker {
  background: none;
  border: none;
}

.marker-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  background: white;
}

.marker-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
